:root {
    --background: #181823;
    --maincolor: #FF8B13;
    --maincolor1: #FF577F;
    --maincolor2: #FFCACA;
}

.formContainer {
    background: var(--background);
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}
.formContainer .formWrapper {
    background: var(--maincolor);
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;

    
}
.formContainer .formWrapper .logo {
    text-align: center;
    background: var(--maincolor);
    color: var(--background);
    font-weight: bold;
    font-size: 24px;
   
}

.formContainer .formWrapper form {
    background: var(--maincolor);
    display: flex;
    flex-direction: column;
    gap: 15px;

    
}

.formContainer .formWrapper form input, .input {
    background: var(--maincolor2);
    color: var(--background);
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 250px;
    border-bottom: 2px solid var(--background);
}

.formContainer .formWrapper form button {
    background: var(--maincolor2);
    color: var(--background);
    border-radius: 12px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.formContainer .formWrapper form label .bxs-image-add {
    font-size: 32px;
    font-weight: bold;
    margin-right: 12px;
}
