@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
:root{
  --background:#181823;
  --maincolor:#FF8B13;
  --maincolor: #FF577F;
  --maincolor2: #FFCACA;
}
*{
  font-family: 'sara', 'sans-serif';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #181823;
};